fastapi
uvicorn[standard]
pydantic-settings
python-dotenv
pymongo
cachetools
apscheduler
python-multipart
httpx
ultralytics
opencv-python-headless
numpy
pillow
insightface
onnxruntime
cryptography
torch
torchvision
argon2-cffi
pyotp
python-jose[cryptography]